/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#000814, #001EAD); /* Definindo a cor de fundo como azul */
    color: #fff; /* Cor do texto branca */
  }

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 160px; /* Ajuste a altura conforme necessário */
  }

img {
    width: 100px;
}

.form-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #00034D;
    color: white;
    border: 1px solid #00034D;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0069d9;
}
