* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 80px;
  left: 105px;
}

.logo img {
  width: 90px; /* Tamanho da imagem ajustado */
  height: auto;
}

.form-container {
  border: 2px solid linear-gradient(316.01deg, #000814 15.31%, #001E4D 86.58%);
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.campos {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

input {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  
}

button {
  background: #0056E2;
  color: #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(90deg, #00CAFC 0%, #0056E2 100%);
}



