/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(316.01deg, #000814 15.31%, #001E4D 86.58%);
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
}



    .logo img {
    height: 160px; /* Ajuste a altura conforme necessário */
    background: linear-gradient(316.01deg, #000814 15.31%, #001E4D 86.58%);;
  }

.form-container {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    max-width: 500px;
    max-height: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background: linear-gradient(90deg, #00CAFC 0%, #0056E2 100%);
    color: #dfdfdf;
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 100%;
}

button:hover {
    background-color: #0069d9;
}
