
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(155, 204, 253) , rgb(96, 172, 253)); /* Definindo a cor de fundo como azul */
    color: #000000; /* Cor do texto branca */
  }
    
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 0px; /* Ajuste o valor conforme necessário */
    }
    .logo {
      position: absolute;
      top: 80px;
      left: 105px;
    }
    
    .logo img {
      width: 90px; /* Tamanho da imagem ajustado */
      height: auto;
    }